@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #09151e;
  font-family: "Poppins", sans-serif;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0px 60px 0px;
  padding: 0px 10px;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHeading{
  color: #d3e134;
  max-width: 600px;
}
.headings{
  font-style: italic;
  text-decoration: underline 4px #d3e134;
  text-underline-offset: 4px;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  .sectionHeading{
    font-size: 35px;
  }
}