*{
  box-sizing: border-box;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 30px 10px;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
}