.channels-section{


  overflow-x: auto;
}
.channel-carousel{
  
}
.channels{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}
.channel-tooltip{
  margin: 20px 10px;
  color: white;
  background-color: rgb(30, 30, 30);
  box-shadow: 0px 0px 8px 5px rgb(0, 0, 0);

  padding: 15px 15px;
  border-radius: 10px;
  width: 170px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  
}

.channel-pfp{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 99px;
}

.channel-info-container{

}

