.card{
  color: black;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 20px 20px;
}
.clientProfile{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.clientProfile .clietName{
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
}
.clientProfile img{
  width: 40px;
  height: 40px;
  border-radius: 99px;
}
.card .reviewText{
  text-align: start;
  margin-top: 10px;
}
.card .reviewText .boldRev{
  font-weight: 700;
  text-align: center;
  margin: 10px 1uto;
}
.channels-section{
  overflow-x: auto;
  padding: 0;
}

.channels-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.channel-tooltip{
  margin: 20px 10px;
  color: white;
  background-color: rgb(30, 30, 30);
  /* box-shadow: 0px 0px 8px 5px rgb(0, 0, 0); */

  padding: 15px 15px;
  border-radius: 10px;
  width: 170px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 15px;
}

.channel-pfp{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 99px;
}


/* Infinite animation carousel */
.channel-carousel{
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.channel-carousel::-webkit-scrollbar{
  display: none;
}
.channels-group{
  gap: 1em;
  animation: spin 10s infinite linear;
  padding-right: 1em;
}
@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}