.sectionHeading{
  color: #d3e134;
}
.card{
  color: black;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 20px 20px;
}
.clientProfile{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.clientProfile .clietName{
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
}
.clientProfile img{
  width: 40px;
  height: 40px;
  border-radius: 99px;
}
.card .reviewText{
  text-align: start;
  margin-top: 10px;
}
.card .reviewText .boldRev{
  font-weight: 700;
  text-align: center;
  margin: 10px 1uto;
}