color pallete{
  color: #09151e;
  color: #617363;
  color: #d3e134;
}

.home-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 10px;
}

.headingText{
  color: #d3e134;
}

.headingText h2{
  
}

.headingText p{
  color: #ffffff;
  
}

.video-wrap{
  margin: 20px 10px;
  width: 100%;
}
.introVideo{
  border-radius: 10px;
}
.headingBtnsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headingBtnsContainer button{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #d3e134;
  color: #09151e;
  border: none;
  border-radius: 4px 4px;
  margin: 0px 10px;
}
