nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3e134;
  border-bottom: 1px solid #09151e31;
}

.rightSec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.outerNav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  z-index: 10;
}
#logo{
  object-fit: cover;
  height: 80px;
  width: 160px;
}
.navIconCont{
  cursor: pointer;
}
.navIcons{
  color: #09151e;
  margin: 16px;
  height: 50px;
  width: 30px;
}
.menuBtn{
  height: 50px;
  width: 35px;
}
.innerNav{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d3e134;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateY(-10px);

  transition: 
    opacity .2s ease,
    transform .2s ease,
    visibility 0.2s linear;
  z-index: 5;
  border-bottom: 1px solid #09151e31;
  border-left: 1px solid #09151e31;
}
.innerNav.active{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateY(10px);

  transition:
    opacity .2s ease,
    transform .2s ease,
    visibility 0.2s linear;  

}
.toggleNavLinks{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.toggleNavLinks a{
  text-decoration: none;
  color: #09151e;
  margin: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}