.portfolio-video-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.portfolio-video{
  width: 90%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  margin: 10px auto;
}