.card{
  color: black;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 20px 20px;
  max-width: 400px;
  min-width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card .reviewText{
  flex: 1;
}
.reviewText p{
  text-align: center;
}
.clientProfile{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.clientProfile .clietName{
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
}
.clientProfile img{
  width: 40px;
  height: 40px;
  border-radius: 99px;
}
.card .reviewText{
  text-align: start;
  margin-top: 10px;
}
.card .reviewText .boldRev{
  font-weight: 700;
  text-align: center;
  margin: 10px auto;
}
.clientRating{
  display: none;
}
.cards{
  overflow: hidden;
}
.card-grp{
  display: flex;
}

/* @media (min-width: 850px){
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
} */

