.solution-card{
  border: 2px solid #d3e134;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10px 30px;
  box-shadow: 0px 0px 5px black;
}
.solutions-text{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.solution-heading{
  color: #d3e134;
  text-underline-offset: 4px;
}
.solution-para{
  margin-top: 10px;
}
.solution-icon{
  font-size: 50px;
  margin: 10px 10px;
  color: #d3e134;
}