.strategy-text{
  color: white;
  text-align: start;
  font-size: 18px;
  margin-bottom: 30px;
}
.strategy-text ol{
  margin: 10px 10px;
}
.strategy-text li{
  margin: 4px 4px;
}
.strategy-text li::marker{
  color: #d3e134;
}
@media (min-width: 700px){
  .strategy-text{
    color: white;
    text-align: start;
    font-size: 24px;
  }
}